<!DOCTYPE html>
<html lang="pt_BR">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Localize um Orfanato / Happy</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/animations.css">
<link rel="stylesheet" href="/css/page-orfa.css">
<link rel="stylesheet" href="/css/map.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/sidebar.css">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
<link rel="icon" href="/images/logo-icon.png">
</head>

<body>
    <div id="page-orfa">
        <aside class="animate-right">
            <header>
                <img src="/images/map-marker.svg" alt="Happy">
                <h2>Escolha um orfanato no mapa.</h2>
                <p>Muitas Crianças estão esperando sua visita :)</p>
            </header>
            <footer>
                <strong>Porto Real</strong>

                <p>Rio de Janeiro</p>

            </footer>

        </aside>
        <div id="mapid" class="animate-appear">
          {{#each Orfanato}} 
            <span hidden> 
                    data-id="" 
                    data-name="" 
                    data-lat="" 
                    data-lng=""
            </span>
             <span hidden> 
                    data-id="" 
                    data-name="" 
                    data-lat="" 
                    data-lng=""
            </span>
           {{/each}}
            

        </div>
        <a href="create-orfa" class="create-orfa" title="Cadastre um orfanato!">
            <img src="/images/plus.svg" alt="Cadastro de orfanato"></a>
    </div>
    <script src="/scripts/page-orfa.js"></script>
</body>

</html>